@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 30px;
  background-color: #f5f5f5;
}

ul {
  list-style-type: none;
}

li {
  border-bottom: 1px solid #f3f3f3;
  padding: 15px;
}

form {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 4px 10px 0 rgba(0, 0, 0, 0.13);
}

input {
  border: none;
  font-style: italic;
  font-family: 'Space Mono', monospace;
}

input:focus {
  outline: none;
}

.add-icon {
  border: none;
  background: none;
  font-size: 25px;
  color: #0078d7;
  transition: all 0.4s ease 0s;
}

.title {
  font-weight: 700;
  font-size: 20px;
  color: #0078d7;
  margin-left: 250px;
}

.container {
  width: 70%;
  background-color: white;
}

.container .todo-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .todo-li div {
  display: flex;
  align-items: center;
}

.container .todo-li .checkbox {
  margin-right: 15px;
  padding: 20px;
}

.container .todo-li div .checkbox {
  margin-right: 15px;
  padding: 20px;
}

.container .todo-li .del-todo {
  border: none;
  font-size: 20px;
  align-self: flex-end;
  justify-self: flex-end;
}

.container .todo-li .del-todo:hover {
  color: #0078d7;
}

.container .clear-todo {
  width: 100%;
  padding: 150px;
  font-size: 20px;
  border: none;
}

.container .clear-todo:hover {
  text-decoration: underline;
  color: #0078d7;
}
